@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Heebo:wght@400;

500;700;900&family=PT+Sans&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html {
  font-size: 0.875rem;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

.header {
  position: relative;
  z-index: 50;
}

.header__body-conteiner {
  max-width: 1062px;
  padding: 0 15px;
  margin: 0 auto;
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__burger {
  display: none;
}

.menu-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 33px;
     -moz-column-gap: 33px;
          column-gap: 33px;
}

.menu-header__item {
  position: relative;
}

.menu-header__item::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000000;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.menu-header__item:hover::before {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.menu-header__item_blog:before {
  background-color: #FF6464;
}

.menu-header__item_works:before {
  background-color: #FF6464;
}

.menu-header__item_contact:before {
  background-color: #FF6464;
}

.menu-header__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 145%;
  color: inherit;
  color: #000000;
}

.menu-header__link_blog {
  color: #FF6464;
}

.menu-header__link_works {
  color: #FF6464;
}

.menu-header__link_contact {
  color: #FF6464;
}

.footer {
  padding-top: 54px;
  padding-bottom: 51px;
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 35px;
     -moz-column-gap: 35px;
          column-gap: 35px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__items:not(:last-child) {
  margin-bottom: 26px;
}

.footer__item {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer__item:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.footer__copy {
  font-size: 14px;
  line-height: 150%;
  text-align: center;
}

.blog {
  padding-top: 106px;
  padding-bottom: 55px;
}

.blog__subconteiner {
  max-width: 682px;
}

.blog__title {
  font-weight: 700;
  font-size: 44px;
  line-height: 136%;
}

.blog__title:not(:last-child) {
  margin-bottom: 55px;
}

.blog__items {
  display: -ms-grid;
  display: grid;
  row-gap: 32px;
}

.blog__item {
  padding-bottom: 25px;
  border-bottom: 1px solid #E0E0E0;
}

.blog__lable {
  font-weight: 500;
  font-size: 30px;
  line-height: 146%;
}

.blog__lable:not(:last-child) {
  margin-bottom: 16px;
}

.blog__date {
  font-size: 20px;
  line-height: 145%;
}

.blog__date:not(:last-child) {
  margin-bottom: 15px;
}

.blog__centr {
  margin: 0 20px;
}

.blog__category {
  display: inline-block;
  font-size: 20px;
  line-height: 145%;
  color: #8695A4;
}

.blog__category:hover {
  text-decoration: underline;
}

.blog__text {
  line-height: 150%;
  max-width: 590px;
}

.contact__subconteiner {
  max-width: 711px;
}

.contact__title {
  font-weight: 700;
  font-size: 34px;
  line-height: 147%;
  max-width: 506px;
}

.contact__title:not(:last-child) {
  margin-bottom: 30px;
}

.contact__title:not(:last-child) {
  margin-bottom: 23px;
}

.contact__data {
  font-weight: 900;
  font-size: 18px;
  color: #FFFFFF;
  min-height: 25px;
  padding: 0 10px;
  background: #FF7C7C;
  border-radius: 16px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 17px;
}

.contact__data:not(:last-child) {
  margin-bottom: 30px;
}

.contact__link {
  font-size: 20px;
  line-height: 145%;
  color: inherit;
}

.contact__image {
  position: relative;
  padding: 0 0 67% 0;
}

.contact__image_one:not(:last-child) {
  margin-bottom: 54px;
}

.contact__image_two:not(:last-child) {
  margin-bottom: 27px;
}

.contact__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact__lable {
  font-weight: 500;
  font-size: 30px;
  line-height: 200%;
}

.contact__sublble {
  font-weight: 500;
  font-size: 24px;
  line-height: 250%;
}

.contact__text {
  line-height: 150%;
  max-width: 570px;
}

.contact__text:not(:last-child) {
  margin-bottom: 30px;
}

.contact__text:not(:last-child) {
  margin-bottom: 24px;
}

/*-------------body-------------*/

body {
  color: #21243D;
  font-family: Heebo;
}

/*-------------wrapper-----------*/

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*------------conteiner----------*/

[class*=__conteiner] {
  max-width: 886px;
  padding: 0 15px;
  margin: 0 auto;
  /*------адаптивна сітка----------/ 
  @media(max-width:$md3) {
      max-width: 970px;    
  }
  @media(max-width:$md2) {
      max-width: 750px;    
  }
  @media(max-width:$md1) {
      max-width: none;    
  }
  /--------------------------------*/
}

/*--------------page-----------------*/

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/*--------------hello----------------*/

.hello {
  padding-top: 130px;
  padding-bottom: 71px;
}

.hello__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.hello__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 71.6%;
          flex: 0 1 71.6%;
}

.hello__title {
  font-weight: 700;
  font-size: 2.28rem;
  line-height: 136%;
}

.hello__title:not(:last-child) {
  margin-bottom: 35px;
}

.hello__text {
  line-height: 150%;
}

.hello__text:not(:last-child) {
  margin-bottom: 35px;
}

.hello__button {
  font-size: 20px;
  line-height: 145%;
  color: #FFFFFF;
  background: #FF6464;
  border-radius: 2px;
  padding: 0 20px;
  min-height: 47px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-transition: background 0.3s ease 0s;
  -o-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
}

.hello__button:hover {
  background: #df4646;
}

.hello__avatar {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 28.4%;
          flex: 0 1 28.4%;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.hello__image {
  border-radius: 50%;
  -webkit-box-shadow: -5px 13px 0px #EDF7FA;
          box-shadow: -5px 13px 0px #EDF7FA;
  width: 243px;
  height: 243px;
}

.hello__image img {
  max-width: 100%;
  overflow: hidden;
}

/*--------------hello----------------*/

.posts {
  background-color: #EDF7FA;
  padding-top: 22px;
  padding-bottom: 32px;
}

.posts__top:not(:last-child) {
  margin-bottom: 22px;
}

.posts__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.posts__culum {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.top-posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-posts__title {
  color: inherit;
  font-size: 22px;
}

.top-posts__link {
  color: #00A8CC;
}

.top-posts__link:hover {
  text-decoration: underline;
}

.item-posts {
  background-color: #FFFFFF;
  padding: 24px 21px 30px 23px;
  height: 100%;
}

.item-posts__title {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 146%;
}

.item-posts__title:not(:last-child) {
  margin-bottom: 17px;
}

.item-posts__info {
  font-size: 18px;
  line-height: 144%;
}

.item-posts__info span {
  padding: 0 20px;
}

.item-posts__info:not(:last-child) {
  margin-bottom: 15px;
}

.item-posts__text {
  line-height: 150%;
}

/*--------------hello----------------*/

.works {
  padding-top: 30px;
  padding-bottom: 115px;
}

.works__title {
  font-size: 22px;
}

.works__title:not(:last-child) {
  margin-bottom: 40px;
}

.works__title_work {
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
}

.works__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 66px;
}

.item-works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 18px;
     -moz-column-gap: 18px;
          column-gap: 18px;
  position: relative;
}

.item-works_mobile {
  display: none;
}

.item-works::before {
  content: "";
  position: absolute;
  bottom: -35px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #E0E0E0;
}

.item-works__picture {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 29.5%;
          flex: 0 1 29.5%;
}

.item-works__image {
  display: block;
  position: relative;
  padding: 0 0 74% 0;
  overflow: hidden;
}

.item-works__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.item-works__image img:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.item-works__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 71.5%;
          flex: 0 1 71.5%;
}

.item-works__title {
  font-size: 30px;
  font-weight: 700;
}

.item-works__title:not(:last-child) {
  margin-bottom: 16px;
}

.item-works__date {
  min-height: 25px;
  font-weight: 900;
  font-size: 18px;
  color: #FFFFFF;
  background-color: #142850;
  padding: 0 10px;
  border-radius: 16px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 26px;
}

.item-works__date:not(:last-child) {
  margin-bottom: 30px;
}

.item-works__category {
  font-size: 20px;
  line-height: 145%;
  color: #8695A4;
}

.item-works__category:hover {
  text-decoration: underline;
}

.item-works__text {
  line-height: 150%;
  padding-right: 75px;
}

@media (min-width: 767px) {
  .hello__info {
    max-width: 447px;
  }
}

@media (max-width: 992px) {
  body._active {
    overflow: hidden;
  }
}

@media (max-width: 767px) {
  .header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    z-index: 2;
  }

  .header__burger {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    height: 18px;
    cursor: pointer;
    position: relative;
    z-index: 3;
  }

  .header__burger::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #21243D;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger._active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 8px;
  }

  .header__burger span {
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #21243D;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__burger::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #21243D;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger._active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 8px;
  }

  .menu-header {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.845);
    overflow: auto;
    -webkit-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
  }

  .menu-header._active {
    left: 0;
  }

  .menu-header__list {
    text-align: center;
    padding-top: 110px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
  }

  .menu-header__link {
    font-size: 32px;
  }

  .blog {
    padding-top: 24px;
    padding-bottom: 30px;
  }

  .blog__title {
    font-size: 30px;
  }

  .blog__title:not(:last-child) {
    margin-bottom: 20px;
  }

  .blog__items {
    row-gap: 18px;
  }

  .blog__lable {
    font-size: 26px;
  }

  .blog__lable:not(:last-child) {
    margin-bottom: 5px;
  }

  .blog__date {
    font-size: 16px;
  }

  .blog__category {
    font-size: 16px;
  }

  .contact__title {
    font-size: 30px;
  }

  .contact__data:not(:last-child) {
    margin-bottom: 24px;
  }

  .contact__image_one:not(:last-child) {
    margin-bottom: 20px;
  }

  .contact__image_two:not(:last-child) {
    margin-bottom: 23px;
  }

  .contact__lable {
    font-size: 26px;
  }

  .contact__sublble {
    font-size: 20px;
  }

  .contact__text {
    max-width: none;
  }

  .hello {
    padding-top: 3px;
    padding-bottom: 58px;
  }

  .hello__conteiner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }

  .hello__info {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    text-align: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .hello__title:not(:last-child) {
    margin-bottom: 18px;
  }

  .hello__text:not(:last-child) {
    margin-bottom: 27px;
  }

  .hello__avatar {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }

  .hello__image {
    width: 174px;
    height: 180px;
    -webkit-box-shadow: -5px 5px 0px #EDF7FA;
            box-shadow: -5px 5px 0px #EDF7FA;
  }

  .posts__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 17px;
  }

  .top-posts {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .top-posts__title {
    font-size: 18px;
  }

  .top-posts__title:not(:last-child) {
    margin-bottom: 25px;
  }

  .top-posts__link {
    display: none;
  }

  .item-posts {
    padding: 12px 8px 22px 19px;
  }

  .works {
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .works__title {
    font-size: 18px;
  }

  .works__title:not(:last-child) {
    margin-bottom: 25px;
  }

  .works__title_work {
    font-weight: 700;
    font-size: 30px;
  }

  .works__items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    overflow: auto;
  }

  .works__items_works {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    overflow: hidden;
  }

  .item-works_work {
    display: none;
  }

  .item-works_designing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .item-works_mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .item-works {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 17px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 90%;
            flex: 0 0 90%;
  }

  .item-works::before {
    bottom: -17px;
  }

  .item-works__title {
    font-size: 24px;
  }

  .item-works__date {
    font-size: 16px;
  }

  .item-works__date:not(:last-child) {
    margin-bottom: 24px;
  }

  .item-works__category {
    font-size: 16px;
  }
}